{% extends 'base.html' %}

{% block content %}
    <h1>DETAIL</h1>
    <hr>
    <div class="container justify-content : center">
        <img src="{{ movie.poster_url }}" alt="포스터">
        <h3>제목 : {{ movie.title }}</h3>
        <h3>관객 : {{ movie.audience }}</h3>
        <h3>개봉 : {{ movie.release_date }}</h3>
        <h3>장르 : {{ movie.genere }}</h3>
        <h3>평점 : {{ movie.score }}</h3>
        <p>{{ movie.description }}</p>
    </div>
    <div class="container d-flex col">
        <form action="{% url 'movies:delete' movie.pk %}" method='POST'style="margin:1%;" >
            {% csrf_token %}
            <button>삭제</button>
        </form>
        <a href={% url 'movies:edit' movie.pk %} style="margin:1%;">
            <button>수정</button>
        </a>
        <a href="{% url 'movies:index' %}" style="margin:1%;">
            <button>뒤로</button>
        </a>
    </div>
    
{% endblock content %}