{% extends 'base.html' %}


{% block content %}
    <br>
    <h1>SSAFY MOVIE</h1>
    <br>
    <hr>
    <br>
    {% if request.user.is_authenticated %}
        <a href="{% url 'movies:create' %}">[CREATE]</a>
    {% else %}
    <a href="accounts:login">[로그인이 필요한 서비스 입니다]</a>
    {% endif %}
    <hr>
    {% for movie in movies %}
        <p>작성자 : {{ movie.user_id }}</p>
        <p> 제목  : {{ movie.title }}</p>
        <p>줄거리 : {{ movie.description }}</p>
        <a href="{% url 'movies:detail' movie.pk %}">[DETAIL]</a>
        <hr>
    {% endfor %}

{% endblock content %}